{% extends 'css.html' %}
<head>
    <meta charset="UTF-8">
    <title>Stitch</title>
</head>

<!--sign out button on navbar-->
{% block navbar %}

<div class="col-sm-6" style="float:right;text-align:right">
    <a class="btn btn-success my-2 my-sm-0" href="{%url 'logout' %}">Log out</a>
</div>
{%endblock%}

{% block content %}

<!--pop up screen for create-->
<body>


<div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">X</div>
        <!--ssssssssssssssss-->
        <div class="login-page">
            <div class="form">

                <form class="login-form page_form " method="POST" action="{%url 'create_list' pk%}">
                    {%csrf_token%}
                    <input name="title_list" type="text" placeholder="Add title here" required>
                    <input value="Create a list" type="submit">
                </form>
            </div>
        </div>
    </div>
</div>

<!--Pop up screen-->
<script>
$(document).ready(function () {
  $(window).load(function () {
    $(".trigger_popup_fricc").click(function(){
       $('.hover_bkgr_fricc').show();
    });
    <!--$('.hover_bkgr_fricc').click(function(){-->
        <!--$('.hover_bkgr_fricc').hide();-->
    <!--});-->
    $('.popupCloseButton').click(function(){
        $('.hover_bkgr_fricc').hide();
    });
});
});

</script>
<!--Left side nav-->

<div class="navbar navbar-inverse navbar-fixed-left" style="background-color:#fff;color:#000">
<h1 style="margin-left:10%;font-weight:bold">List</h1>
    <ul class="nav navbar-nav" stye="color:#fff">

        <li><a style='margin-top:20%;color:#000;font-size:14px;font-weight: 400;font-family: Helvetica' class="navbar-brand trigger_popup_fricc"  >Create list</a></li>
        <li><a class="navbar-brand " style='margin-top:20%;color:#000;font-size:14px;font-weight: 400;font-family: Helvetica ' href="{%url 'boards' %}">Home</a></li>
        <li><a class="navbar-brand" style='margin-top:20%;color:#000;font-size:14px;font-weight: 400;font-family: Helvetica ' href="{%url 'create_member' %}">Create member</a></li>
        <li><a class="navbar-brand " style='margin-top:20%;color:#000;font-size:14px;font-weight: 400;font-family: Helvetica ' href="{%url 'list_members' %}">Members</a></li>
        <li><a class="navbar-brand " style='margin-top:20%;color:#000;font-size:14px;font-weight: 400;font-family: Helvetica ' href="{%url 'get_labels' pk%}">Labels</a></li>

    </ul>
</div>

<div style="text-align:right; margin-right:10%;margin-top:2%">

    <label for="sel2">Order by</label>
      <select  id="sel2" onchange="location = this.value;">
          {% if select == 1 %}
          <option value="{%url 'list' pk 1%}" selected>New to Old</option>
          <option value="{%url 'list' pk 2%}" >Old to New</option>
          {% else %}
          <option value="{%url 'list' pk 1%}" >New to Old</option>
          <option value="{%url 'list' pk 2%}" selected>Old to New</option>
          {% endif %}
      </select>

</div>
<!--{{list}}-->
 {% for item in list %}

{% if item.active == True %}
<!--<a style='' href="#">-->

<div class="container col-md-6" style="width:200px;height:100px;">
        <a href="{%url 'updates_list' item.id%}" style="color:#fff;margin-right:32%;text-align:right"><i class="fa fa-pencil"></i></a>
        <a href="{% url 'archive_list' item.id%}" style="color:#fff;text-align:right"><i class="fa fa-archive"></i></a>

    <a href="{% url 'cards' item.id 1%}">
 <div class="row">

    <div class="col-sm-6">

     <!--<div class="board-tile-details is-badged">-->
         <div title="Untitled board" dir="auto" class="board-tile-details-name">
             <div style="overflow: hidden; text-overflow: ellipsis;
               -webkit-box-orient: vertical; display: -webkit-box;
                -webkit-line-clamp: 2;height:75px;width:200px;">
                 <p style="color:#fff;font-weight:bold;margin-left:35%;margin-top:10%">

                     {{item.title}}
                 </p>
             </div>
         </div>
     <!--</div>-->
    </div>


 </div>
        </a>
</div>
<!--</a>-->
{% endif %}

{% endfor %}

{%if update_list_dic %}
    <form class="login-form page_form " method="POST" action="{%url 'updates_list' update_list_dic.id%}">
                    {%csrf_token%}
                    <input style="width:100%" name="title_list" type="text" value="{{update_list_dic.title}}" placeholder="Add title here" value="{{board.title}}" required>
                    <input  value="Rename list" type="submit">
                </form>
{% endif %}
{% if not list and not update_list_dic %}
<span style="text-align:center">
    <h2>There is no list</h2>
</span>
{%endif%}
</body>

{% endblock %}